html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Flex', sans-serif;
}

* {
    box-sizing: border-box;
}

form {
    margin: 0;
}

.btn-primary {
    height: 3rem;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 2.6rem;
    border: 1px solid #F16522;
    border-radius: 0.3125rem;
    box-shadow: 0 8px 7px -5px rgb(241, 101, 34, 0.7);
    background-color: #F16522;
    color: #fff;
    font-size: 1.125rem;
    text-align: center;
    cursor: pointer;
    transition: 400ms ease;
}

.btn-primary:hover {
    background-color: transparent;
    color: #F16522;
}

.btn-secondary {
    height: 3rem;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 2.6rem;
    border: 1px solid #FE0295;
    border-radius: 0.3125rem;
    box-shadow: 0 8px 7px -5px rgb(254, 2, 149, 0.7);
    background-color: transparent;
    color: #FE0295;
    font-size: 1.125rem;
    text-align: center;
    cursor: pointer;
    transition: 400ms ease;
}

.btn-secondary:hover {
    background-color: #FE0295;
    color: #fff;
}

.main-wrapper {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.main-wrapper:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('bg.svg');
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    opacity: 0.6;
    z-index: -1;
}

.container {
    max-width: 100%;
    width: 1100px;
    padding: 0 1rem;
    box-shadow: 0 0 0.625rem rgb(159, 159, 159, 0.4);
    background-color: rgba(255, 255, 255, 0.48);
    backdrop-filter: blur(20px);
}

@media (min-width:768px) {
    .container {
        padding: 0 2.375rem;
    }
}

.main-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 1rem 0;
}

@media (min-width:768px) {
    .main-header {
        margin-bottom: 1.5625rem;
        padding: 2.5rem 0;
    }
}

.main-header .main-logo {
    width: 170px;
}

.page-field-wrap {
    min-width: 150px;
    display: inline-block;
    margin-bottom: 2.1875rem;
    position: relative;
}

.page-title-field {
    width: 100%;
    padding: 0.5rem 2.375rem 0.5rem 0.9375rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    background-color: transparent;
    font-size: 1.75rem;
    font-weight: 500;
}

.page-title-field:focus {
    border-color: #F16522;
    outline: none;
}

.page-field-wrap img {
    width: 1.375rem;
    position: absolute;
    top: 50%;
    right: 0.9375rem;
    transform: translateY(-50%);
}

.fxr-banner {
    width: 100%;
    margin: 0 0 2.1875rem;
}

.fxr-banner img {
    max-width: 100%;
}

.main-title {
    margin: 0 0 1.25rem;
    color: #F16522;
    font-size: 2.1875rem;
    font-weight: 700;
    line-height: 1;
    word-break: break-all;
}

#sampleText {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
}

.add-page-button {
    position: absolute;
    right: 0;
    width: 120px;
    height: 50px;
    transform: translate(-50%);
    background-color: white;
    cursor: pointer;
}

.main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

#count {
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FE0295;
    font-size: 1.2rem;
}

.main-footer button:not(:last-child) {
    margin: 0 1.25rem 0 0;
}

@media (min-width:768px) {
    .main-footer {
        margin: 2.5rem 0 2rem;
    }
}

.alert {
    padding: 20px;
    background-color: green;
    color: white;
  }
